######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

.flattened-pom.xml

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
logs/*

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp
*.DS_Store

!*/build/*.java
!*/build/*.html
!*/build/*.xml

### JRebel ###
rebel.xml

application-local.yaml
application.pid

web/.DS_Store
web/node_modules
web/dist

# local env files
web/.env.local
web/.env.*.local

# Log files
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*

# Editor directories and files
web/.idea
web/.vscode
web/*.suo
web/*.ntvs*
web/*.njsproj
web/*.sln
web/*.sw?
